.image_container {
    display: flex;
    flex-direction: row;
    height: min-content;
    margin: 0; /* Remove margin from image container */
    overflow-x: auto; /* Enable horizontal scroll when images exceed screen width */
    margin-bottom: 20px;
    margin-top: 100px;
}

.image_container .image {
    width: 50%;
    height: auto;
    max-width: 100%; /* Limit image width to container width */
    margin: 0; /* Remove margin from images */
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 4em;
}

p {
    margin-bottom: 70px;
}

.find-organisations {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin: auto;
}
