<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/new-organisation.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>New Announcement</title>
</head>
<body>
    <div class="menu" id="menu">
        <img src="images/logo.png" alt="Logo" class="logo">
        <a href="home.html">Home</a>
        <a href="organisation-list.html">Organisations</a>
        <a href="contact.html">Contact</a>
        <a v-if="isAdmin" href="admin.html">Admin</a>
        <a v-if="isLoggedIn" href="account.html" class="login">Account</a>
    </div>
    <div class="ribbon"></div>
    <div class="content" id="app">
        <h1>Post announcement</h1>
        <form>
            <div class="organisation-details">
                <div class="organisation-detail">
                    <label for="post-title">Title</label>
                    <input type="text" id="post-title" name="post-title" v-model="post.title">
                </div>
                <div class="organisation-detail">
                    <label for="post-public">Public</label>
                    <input type="checkbox" id="post-public" name="post-public" v-model="post.is_private" true-value="0" false-value="1" class="left-align">
                </div>
                <div class="organisation-detail">
                    <label for="post-content">Content</label>
                    <textarea id="post-content" name="post-content" rows="7" v-model="post.content"></textarea>
                </div>
            </div>
            <div class="button-container">
                <button type="button" class="cancel-button" @click="cancelRedirect">CANCEL</button>
                <button type="button" class="add-button" @click="editPost">CONFIRM</button>
            </div>
        </form>
    </div>
    <script src="javascripts/edit-post.js"></script>
</body>
</html>
