<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/master.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="javascripts/login.js"></script>
</head>
<body>
    <div class="menu">
        <img src="images/logo.png" alt="Logo" class="logo">
        <a href="home.html">Home</a>
        <a href="organisation-list.html">Organisations</a>
        <a href="contact.html">Contact</a>
        <a href="login.html" class="login">Login</a>
    </div>

    <div class="ribbon"></div>
    <div class="login-form" id="login">
        <h1 class="login-title">LOGIN</h1>
        <form @submit.prevent="submitForm">
            <div>
                <a class="google-button" href="/auth/google">
                    <i class="fab fa-google"></i>  Continue with Google
                </a>
            </div>
            <div>
                <input v-model="useremail"  class="username" type="email" placeholder="Your Email" required>
            </div>
            <div>
                <input v-model="password"  class="password" type="password" placeholder="Your Password" required>
            </div>

            <p v-if="error" v-cloak class="loginerror">{{ error }}</p>

            <div>
                <button class="login-button" type="submit">Login</button>
            </div>
            <div>
                <button type="button" class="signup-button" onclick="window.location.href='sign-up.html'">Sign Up</button>
            </div>
            <div>
                <a class="forgotpassword" href="resetlink.html">Forgot Password?</a>
            </div>
        </form>
    </div>
</body>



</html>