<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/master.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="javascripts/resetlink.js"></script>
</head>
<body>
    <div class="menu">
        <img src="images/logo.png" alt="Logo" class="logo">
        <a href="home.html">Home</a>
        <a href="organisation-list.html">Organisations</a>
        <a href="contact.html">Contact</a>
        <a href="login.html" class="login">Login</a>
    </div>

    <div class="ribbon"></div>
    <div class="login-form" id="resetlink">
        <h1 class="login-title">Reset Password</h1>


            <div>
                <input v-if="!message" v-model="email"  class="username" type="email" placeholder="Your Email" required>
            </div>


            <p v-if="message">{{ message }}</p>

            <div>
                <button v-if="!message" class="login-button" type="submit" @click="resetPassword" :style="sending ? { 'background-color': 'grey'} : ''">Request Reset</button>
                <button v-if="message" class="login-button" type="submit" @click="goToLogin">Go To Login Page</button>
            </div>




    </div>
</body>



</html>